*{
		box-sizing: border-box;
		
	}
	h1{
		font-size: 50px;
		text-align: center;
		padding-top: 20px;
		padding-bottom: 20px;
		color: #790a83;	
		font-family: Copperplate, Papyrus, fantasy;
	}

	p{
		height: 125px;
		width: 75px;
		border: 3px solid black;
		background-color: #9191b5;
		float: left	;
		padding: 10px;
		overflow: hidden;	
		text-align: right;
      	
	}
	/*.row {
  width: 100%;
} */
.c1{
	text-align: right;
}
@media(min-width: 1200px){
	p{
		width: 29%;
		color: black;
		margin-left: 10px;
		margin-right: 10px;
		height: 175px;
	}
}
@media(min-width: 992px) and (max-width: 1199px){
	p{
		width: 46%;
		color: black;
		height: 200px;
		overflow: hidden;
	}
	p.c1{
		width: 95%;
		float: center;
		height: 130px;
	}
	
}
@media(max-width: 992px){
	p{
		width: 96%;
		color: black;
	}
}
.inboxhead{
	font-size: 35px;
	color: #66ff22;
	font-weight: bold;
	font-family: sans-serif;
	font-style: oblique;
	margin: 20px;
}
	span{
		font-family: cursive;
		font-size: 16px;
		color: #000000;
		text-align: justify 	;
		float: left; 

	}